@media screen and (min-width: 1024px) {
  nav .menu_burger {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  nav .menu_web {
    display: none;
  }
  nav .menu_burger {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  //frontpage

  .part_1 {
    .part_1_box {
      width: 75vw;
      height: 50vh;

      .part_1_text {
        width: 500px;
      }
    }
  }

  .part_3 {
    img {
      width: 100vw;
    }
  }

  footer {
    padding: 40px 40px;
  }

  //Info

  .part_6 {
    height: 180vh;
    .part_6_text {
      .skills {
        width: 80vw;
        h4 {
          margin-left: -20px;
        }
      }
    }
  }

  .part_5 {
    margin: 0;
    flex-direction: column-reverse;
    .part_5_image {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
      width: 90vw;
      margin: 50px auto;
      height: 70vh;
      img {
        width: 70vw;
      }
    }

    .part_5_text {
      display: flex;
      flex-direction: column;
      width: 90vw;
      margin: 150px 40px 0 40px;

      h1 {
        text-align: center;
        margin-bottom: 30px;
      }

      a {
        margin: 50px auto;
      }
    }
  }

  //contact

  .part_contact {
    margin-top: 200px;
    img {
      width: 100vw;
    }
  }

  //portfolio

  #part_4 {
    width: 100vw;
    height: 260vh;

    .part_4_overall {
      display: flex;
      flex-direction: column;
      margin: 40px auto;

      .part_4_info {
        width: 80vw;
        position: unset;
        height: auto;
        left: 0;
        margin: 50px auto;
      }

      .part_4_image {
        img {
          width: 80vw;
          height: auto;
        }
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  // footer
  footer {
    display: flex;
    flex-direction: column;
    height: 300px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
  }

  .part_1 {
    img {
      height: 100vh;
    }

    .part_1_box {
      background: transparent;
      .part_1_text {
        margin-top: 80px;
        background: $beige;
      }
    }
  }

  // info
  .part_3 {
    .part_3_text {
      width: 85vw;
      padding: 30px;
    }

    img {
      width: 100vw;
    }
  }

  // portfolio
  #part_4 {
    width: 100vw;
    height: 300vh;

    .part_4_overall {
      display: flex;
      flex-direction: column;

      .part_4_info {
        width: 80vw;
        height: auto;
        left: 0;
        margin: 50px auto;
      }

      .part_4_image {
        img {
          width: 80vw;
          height: auto;
        }
        margin: 0;
      }
    }
  }

  // contact

  .part_contact {
    img {
      width: 100vw;
    }
    .part_contact_overall {
      padding: 30px;
      width: 80vw;
      .part_contact_text {
        width: auto;
        .part_contact_info {
          line-height: 40px;
          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }

  // Info
  .part_6 {
    width: 100vw;
    height: 230vh;
    .part_6_text {
      .skills {
        padding: 0;
        width: auto;
        h4 {
          margin-left: 0;
          padding-left: 20px;
        }
        ul {
          padding-left: 40px;
          padding-bottom: 20px;
        }
      }
    }
  }

  .part_5 {
    margin: 150px auto;
    flex-direction: column-reverse;
    .part_5_image {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
      width: 100vw;
      height: 50vh;
      margin: 50px auto;
      img {
        width: 80vw;
      }
    }

    .part_5_text {
      display: flex;
      flex-direction: column;
      width: 90vw;
      margin: 40px;

      h1 {
        text-align: center;
        margin-bottom: 30px;
      }

      button {
        margin: 20px auto;
      }
    }
  }

  .part_contact {
    margin-top: 250px;

    .part_contact_text {
      h2 {
        font-size: 20px;
      }
    }
  }
}
